
<div class="card bg-light mb-3" ">
    <div class="card-header text-center fs-1">Network Range</div>
    <div class="card-body">
@(Html.DevExtreme().DataGrid<QLMT.Models.NetworkRange>()

    .ElementAttr(new { @class = "dx-card wide-card" })
    .DataSource(d => d.Mvc()
    .Controller("NetworkRangeApi")
    .LoadAction("Get")
    .InsertAction("Post")
    .UpdateAction("Put")
    .DeleteAction("Delete")
    .Key("RangeId")
    )
    .ShowBorders(false)
    .FilterRow(f => f.Visible(true))
    .FocusedRowEnabled(true)
    .FocusedRowIndex(0)
    .ColumnAutoWidth(true)
    .ColumnHidingEnabled(true)
    .Columns(columns =>
    {
        columns.AddFor(m => m.RangeName);
        columns.AddFor(m => m.IpAddress);
        columns.AddFor(m => m.Status);

    })
    .Editing(e => e.AllowAdding(true).AllowDeleting(true).AllowUpdating(true))
    .Paging(p => p.PageSize(10))
    .Pager(p => p
    .ShowPageSizeSelector(true)
    .AllowedPageSizes(new[] { 5, 10, 20 })
    .ShowInfo(true)
    )
    )

    </div>
</div>